<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="//datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div id="container" style="position: relative; width: 100%;"></div>
      </div>
    </div>
    {% include mapjs.html %}

    {% include footer.html %}

  </body>

</html>

